/*
* @Author: Administrator
* @Date:   2018-03-08 20:38:55
* @Last Modified by:   Administrator
* @Last Modified time: 2018-03-08 21:27:10
*/
body{
	background: red

}
.box{
	width: 200px;
	height: 400px;
	background: black;
	margin: 0 auto;
	border-right: 200px solid white;
	border-radius: 50%;
	position: relative;
	transition: 5s;
}
.box1{
	width: 80px;
	height: 80px;
	background: black;
	border: 60px solid white;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
}
.box2{
	width: 80px;
	height: 80px;
	background: white;
	border: 60px solid black;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 50%;
}
.box:hover{
	transform: rotate(90deg);
	
}